.icon {
	width: 24px;
}
a {
	display: inline-block;
	/*background: green;*/
	z-index: 5;
	/*border: solid 1px black;*/
}

body{
	margin: 2% 1%;
}


.header {
	background-color: #0971B2;
	padding:  5px;
	border-radius: 5px;
	/* margin: 10px 10px 10px 10px; */
}

.form-inline {
	margin: auto;
}
.error{
	display: none;
	margin-left: 10px;
}		



.msjError {
	border-radius: 7px;
	text-align: center;
	font-weight: bold;
	color: rgb(174, 3, 16);
	background-color: rgb(250, 155, 162);
	font-size: small;
}
.action {
	min-width: 55px;
	display: inline-block;
}

.error_show{
	color: red;
	margin-left: 10px;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}
select.invalid, textarea.invalid{
	border: 2px solid red;
}

select.valid, textarea.valid{
	border: 2px solid green;
}